<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        const options = {
        method: 'POST',
        data: {
            title: 'foo',
            body: 'bar',
            userId: 1
        },
        credentials: 'include',
        headers: {}
        };

        fetch('http://jsonplaceholder.typicode.com/posts', options)
        .then((response) => {
            return response.json();
        })
        .then((jsonObject) => {
        console.log(jsonObject)
            document.write(`ID ${jsonObject.id} was created!`);
        })
        .catch((error) => {
            document.write(error);
        });
    </script>
</body>
</html>